#* Original Properties

{% for name, value in data.items() -%}
{{ name }}: {{ value }}
{% endfor %}

#
# Derived Properties - The below will overwrite any vars with the same name above.
#

#* Mesh Properties
#! TODO: Rewrite for blurring. ============================================================
{% set max_voxel_size_um = [data.voxel_size_x_um, data.voxel_size_y_um, data.voxel_size_z_um]|max %}
{% set min_feature_size_voxels = data.min_feature_size_um / max_voxel_size_um  %}
min_feature_size_voxels: {{ min_feature_size_voxels }}
blur_half_width_voxels: {{ ((min_feature_size_voxels - 1) / 2) | round(method='ceil') | int }}
#! ========================================================================================

#* Optical Properties
min_device_permittivity: {{ data.min_device_index ** 2 }}
max_device_permittivity: {{ data.max_device_index ** 2 }}

#* Device Properties
{% set device_sizes = {0: data.device_size_x_um,
                    1: data.device_size_y_um,
                    2: data.device_size_z_um} %}
{% set voxel_sizes = {0: data.voxel_size_x_um,
                    1: data.voxel_size_y_um,
                    2: data.voxel_size_z_um} %}

{% set device_size_z_um   = data.device_size_z_um -%}
device_size_z_um: {{device_size_z_um}}
{% set device_vertical_maximum_um = device_size_z_um %}
device_vertical_maximum_um: {{ device_vertical_maximum_um }}

device_voxels_x: {{ (data.device_size_x_um / data.voxel_size_x_um) | round | int }}
device_voxels_y: {{ (data.device_size_y_um / data.voxel_size_y_um) | round | int }}
device_voxels_z: {{ (data.device_size_z_um / data.voxel_size_z_um) | round | int }}

{% set device_mesh_voxels_x =  1 + (data.device_size_x_um / data.mesh_spacing_um) | int -%}
{% set device_mesh_voxels_y =  1 + (data.device_size_y_um / data.mesh_spacing_um) | int -%}
device_mesh_voxels_x: {{ device_mesh_voxels_x }}
device_mesh_voxels_y: {{ device_mesh_voxels_y }}
{% set LOOKUP_MESH_CELLS = {1:3, 2:3, 3:2, 4:3, 5:2, 6:2, 8:3, 9:2, 10:2, 12:0, 15:2, 20:2, 30:2, 40:2} -%}
{# TODO: Handle lookup mesh cells - they shouldn't be needed.#}
device_mesh_voxels_z: {{ LOOKUP_MESH_CELLS[data.num_layers] + (device_size_z_um / data.mesh_spacing_um) | int }}

# Borders
{% set device_size_x_bordered_um = data.device_size_x_um -%}
{% set device_size_y_bordered_um = data.device_size_y_um -%}
device_size_x_bordered_um: {{ device_size_x_bordered_um }}
device_size_y_bordered_um: {{ device_size_y_bordered_um }}
device_voxels_x_bordered: {{ (device_size_x_bordered_um / data.voxel_size_x_um) | round | int }}
device_voxels_y_bordered: {{ (device_size_y_bordered_um / data.voxel_size_y_um) | round | int }}
device_mesh_voxels_x_bordered: {{ device_mesh_voxels_x }}
device_mesh_voxels_y_bordered: {{ device_mesh_voxels_y }}
{% set border_size_um = 5 * data.voxel_size_x_um -%}
border_size_um: {{ border_size_um }}
border_size_voxels: {{ (border_size_um / data.voxel_size_x_um) | round | int }}

# Layers and Spacers
{% set layer_height_um = device_sizes[data.layering_axis]/ data.num_layers %}
layer_height_um: {{ layer_height_um }}
layer_height_voxels: {{ (layer_height_um / voxel_sizes[data.layering_axis] ) | round | int }}
{% set num_spacers = data.num_spacers -%}
{# {% set num_spacers = data.num_layers-1 | int -%} #}
num_spacers: {{ num_spacers }}

{% set focal_length_um = data.device_size_z_um * 0.5 -%}
focal_length_um: {{ focal_length_um }}
focal_plane_center_vertical_um: {{ -1 * focal_length_um }}


#* FDTD Properties
{% set sim_edge_gap_z_um = data.voxel_size_z_um * 25 %}
sim_edge_gap_z_um: {{ sim_edge_gap_z_um }}
{% set sim_edge_gap_x_um = data.voxel_size_x_um * 10 -%}
{% set sim_edge_gap_y_um = data.voxel_size_y_um * 10 -%}
sim_edge_gap_x_um: {{ sim_edge_gap_x_um }}
sim_edge_gap_y_um: {{ sim_edge_gap_y_um }}

fdtd_size_z_um: {{ 2 * sim_edge_gap_z_um + data.device_size_z_um + focal_length_um }}
{% if data.boundary_conditions == 'periodic' -%}
{% set fdtd_size_x_um = data.device_size_x_um %}
{% set fdtd_size_y_um = data.device_size_y_um %}
{%- else -%}
{% set fdtd_size_x_um = data.device_size_x_um + 2 * sim_edge_gap_x_um %}
{% set fdtd_size_y_um = data.device_size_y_um + 2 * sim_edge_gap_y_um %}
{%- endif %}
fdtd_size_x_um: {{ fdtd_size_x_um }}
fdtd_size_y_um: {{ fdtd_size_y_um }}
{% set fdtd_region_maximum_z_um = device_size_z_um + sim_edge_gap_z_um %}
fdtd_region_maximum_z_um: {{ fdtd_region_maximum_z_um }}
{% set fdtd_region_minimum_z_um = -1 * focal_length_um - 0.4*sim_edge_gap_z_um %}
fdtd_region_minimum_z_um: {{ fdtd_region_minimum_z_um }}

#* Surrounding Properties
pec_aperture_thickness_um: {{ 3 * data.mesh_spacing_um }}
substrate_thickness_um: {{ data.substrate_thickness_um }}
sidewall_x_positions_um: {{ [
    data.device_size_x_um / 2 + data.sidewall_thickness_um / 2,
    0,
    -data.device_size_x_um / 2 - data.sidewall_thickness_um / 2,
    0,
] }}
sidewall_y_positions_um: {{ [
    0,
    data.device_size_y_um / 2 + data.sidewall_thickness_um / 2,
    0,
    -data.device_size_y_um / 2 - data.sidewall_thickness_um / 2,
] }}
sidewall_xspan_positions_um: {{ [
    data.sidewall_thickness_um,
    data.device_size_x_um + data.sidewall_thickness_um * 2,
    data.sidewall_thickness_um,
    data.device_size_x_um + data.sidewall_thickness_um * 2,
]}}
sidewall_yspan_positions_um: {{ [
    data.device_size_y_um + data.sidewall_thickness_um * 2,
    data.sidewall_thickness_um,
    data.device_size_y_um + data.sidewall_thickness_um * 2,
    data.sidewall_thickness_um,
]}}

#* Spectral Properties
{% set bandwidth_um = data.lambda_max_um - data.lambda_min_um -%}
bandwidth_um: {{ bandwidth_um }}
{% set num_design_frequency_points = data.num_opt_dispersion_freqs -%}
num_design_frequency_points: {{ num_design_frequency_points }}
num_eval_frequency_points: {{ 6 * num_design_frequency_points }}
{% set lambda_values_um = data.lambda_min_um | linspace(data.lambda_max_um, num_design_frequency_points) -%}
lambda_values_um: {{ lambda_values_um | list }}
{% set effective_device_diameter_um = [data.device_size_x_um, data.device_size_y_um]|max %}
max_intensity_by_wavelength: {{ ( (effective_device_diameter_um ** 4) / ((focal_length_um ** 2) * (lambda_values_um ** 2)) ) | list }}

#! TODO: Rewrite for dispersive design materials. ===========================
dispersive_range_size_um: {{ bandwidth_um / data.num_dispersive_ranges }}
dispersive_ranges_um: {{ [[data.lambda_min_um, data.lambda_max_um]] }}
#! ==========================================================================

#* PDAF Functionality Properties
pdaf_focal_spot_x_um: {{ 0.25 * data.device_size_x_um }}
pdaf_focal_spot_y_um: {{ 0.25 * data.device_size_y_um }}
{% set pdaf_lambda_min_um = data.lambda_min_um -%}
pdaf_lambda_min_um: {{ pdaf_lambda_min_um }}
{% set pdaf_lambda_max_um = data.lambda_min_um + bandwidth_um / 3 -%}
pdaf_lambda_max_um: {{ pdaf_lambda_max_um }}
{% set pdaf_lambda_values_um = pdaf_lambda_min_um | linspace(pdaf_lambda_max_um, num_design_frequency_points) -%}
pdaf_lambda_values_um: {{ pdaf_lambda_values_um | list}}
pdaf_max_intensity_by_wavelength: {{ ( (effective_device_diameter_um ** 4) / ((focal_length_um ** 2) * (pdaf_lambda_values_um ** 2)) ) | list}}


#* Forward (Input) Source Properties
lateral_aperture_um: {{ 1.1 * data.device_size_x_um }}    #delete
src_maximum_vertical_um: {{ device_size_z_um + sim_edge_gap_z_um * 5 / 6 }}
src_minimum_vertical_um: {{ -focal_length_um - 0.3 * sim_edge_gap_z_um }}
mid_lambda_um: {{ (data.lambda_min_um + data.lambda_max_um) / 2 }}
gaussian_waist_radius_um: {{ data.beam_size_multiplier }}

{% set source_angle_theta_rad = (((data.source_angle_theta_vacuum_deg * pi / 180) | sin ) * 1 / data.background_index) | arcsin -%}
source_angle_theta_rad: {{ source_angle_theta_rad }}
source_angle_theta_deg: {{ source_angle_theta_rad * 180 / pi}}

{% set adj_angles_theta_deg = (data.adj_angles_theta_deg | nparray ) * -1 -%}
# Inversion here from the adjoints' POV
adj_angles_theta_deg: {{adj_angles_theta_deg | list}}
adj_angles_theta_rad: {{(adj_angles_theta_deg * pi / 180) | list}}

#* Adjoint Source Properties
#! For arbitrary focal-point locations, this must be manually rewritten. ===========
adjoint_vertical_um: {{ -focal_length_um }}
num_adjoint_sources: {{ data.num_focal_spots }}

adjoint_x_positions_um: {{ [
    data.device_size_x_um / 4,
    -data.device_size_x_um / 4,
    -data.device_size_x_um / 4,
    data.device_size_x_um / 4,
] | list }}
adjoint_y_positions_um: {{ [
    data.device_size_y_um / 4,
    data.device_size_y_um / 4,
    -data.device_size_y_um / 4,
    -data.device_size_y_um / 4,
] | list }}
#! ==================================================================================

#* Optimization Properties

# [DEPRECATED] - Used for ensuring incremental change in standard gradient design ===============
epoch_range_design_change_max: {{ data.epoch_start_design_change_max - data.epoch_end_design_change_max }}
epoch_range_design_change_min: {{ data.epoch_start_design_change_min - data.epoch_end_design_change_min }}

{% if data.num_layers_per_epoch == false %}
num_layers_per_epoch: {{[data.num_layers]}}
{% elif data.num_layers_per_epoch == true or data.num_layers_per_epoch is not defined or data.num_layers_per_epoch|length <= 0 %}
num_layers_per_epoch: {{[4*data.num_layers, 2*data.num_layers, 2*data.num_layers,
                        data.num_layers, data.num_layers]}}
{% endif %}

## This is a mess
spectral_focal_plane_map: {{ [
    [0, data.num_points_per_band],
    [data.num_points_per_band, 2 * data.num_points_per_band],
    [2 * data.num_points_per_band, 3 * data.num_points_per_band],
    [data.num_points_per_band, 2 * data.num_points_per_band],
] | list}}
desired_peak_location_per_band: {{ (((lambda_values_um | newaxis) - data.desired_peaks_per_band_um) ** 2) | argmin(axis=0) | list }}
##

#* Evaluation Properties

{# Overwrite variables from config  #}
{% if data.eval_source in ['periodic_plane'] %}
{% set eval_boundary_conditions = 'periodic' %}
{% elif data.eval_source in ['gaussian'] %}
{% set eval_boundary_conditions = 'pml' %}
{% elif data.eval_boundary_conditions in ['auto'] %}
{% set eval_boundary_conditions = data.boundary_conditions %}
{% endif %}
eval_boundary_conditions: {{eval_boundary_conditions}}

{% if data.eval_source in ['tfsf'] %}
eval_normalize_against: 'sourcepower'
{% endif %}

{% if data.eval_change_wavelength_range %}
{% set d_lambda = (data.lambda_max_um - data.lambda_min_um)/5 %}      {# Just widening out the spectrum a little #}
{% else %}
{% set d_lambda = 0 %}
{% endif %}
eval_lambda_min_um: {{ data.lambda_min_um - d_lambda }}
eval_lambda_max_um: {{ data.lambda_max_um + d_lambda }}

{# New Calculations #}
{% if eval_boundary_conditions == 'periodic' -%}
{% set eval_fdtd_size_x_um = data.device_size_x_um %}
{% set eval_fdtd_size_y_um = data.device_size_y_um %}
{%- else -%}
{% set eval_fdtd_size_x_um = data.device_size_x_um + 2 * sim_edge_gap_x_um %}
{% set eval_fdtd_size_y_um = data.device_size_y_um + 2 * sim_edge_gap_y_um %}
{%- endif %}
eval_fdtd_size_x_um: {{ eval_fdtd_size_x_um }}
eval_fdtd_size_y_um: {{ eval_fdtd_size_y_um }}
eval_fdtd_size_z_um: {{ fdtd_region_maximum_z_um - fdtd_region_minimum_z_um|abs }}
eval_monitorbox_size_x_um: {{ data.device_size_x_um + (data.mesh_spacing_um)*5 + 2 * data.sidewall_thickness_um }}
eval_monitorbox_size_y_um: {{ data.device_size_y_um + (data.mesh_spacing_um)*5 + 2 * data.sidewall_thickness_um }}
eval_monitorbox_maximum_z_um: {{ device_vertical_maximum_um + (data.mesh_spacing_um*5) }}
eval_monitorbox_minimum_z_um: {{ data.device_vertical_minimum_um - (data.mesh_spacing_um*5) }}
