{ 
    "info": {
        "name": "optimization",
        "path": "",
        "simulator_name": "LumericalFDTD",
        "coordinates": {}
    },
    "objects": {
        "FDTD": {
            "name": "FDTD",
            "obj_type": "fdtd",
            "properties": {
                "dimension": "{{ data.simulator_dimension }}",
                "x span": {{ data.fdtd_region_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y max": {{ data.fdtd_region_maximum_vertical_um * 1e-6 }},
                "y min": {{ data.fdtd_region_minimum_vertical_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y span": {{data.fdtd_region_size_lateral_um * 1e-6 }},
                "z max": {{ data.fdtd_region_maximum_vertical_um * 1e-6 }},
                "z min": {{ data.fdtd_region_minimum_vertical_um * 1e-6 }},
                "simulation time": {{ data.fdtd_simulation_time_fs * 1e-15 }},
                {%- endif %}
                {% if data.boundary_conditions == 'periodic' -%}
                "x min bc": "Periodic",
                "y min bc": "Periodic",
                {%- endif %}
                "index": {{ data.background_index }}
            }
        },
        {#- Forward Sources -#}
        
        {%- for i in range(0, 2) -%}
        {%- set fwrd_name = "forward_src_" + data.xy_names[i] %}
        "{{ fwrd_name }}": {
            "name": "{{ fwrd_name}}",
            {% if data.use_gaussian_sources -%}
            {# Add a Gaussian wave forward source at angled incidence #}
            "obj_type": "gaussian",
            "properties": {
                "x span": {{ 2 * data.fdtd_region_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "injection axis": "y-axis",
                "y": {{ data.src_maximum_vertical_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "injection axis": "z-axis",
                "y span": {{ 2 * data.fdtd_region_size_lateral_um * 1e-6 }},
                "z": {{ data.src_maximum_vertical_um * 1e-6 }},
                {%- endif %}
                "direction": "Backward",
                {%- set shift_x_center = ((data.device_vertical_maximum_um - data.src_maximum_vertical_um) | abs) * (data.source_angle_theta_rad | tan) %}
                "x": {{ shift_x_center * 1e-6 }},
                "wavelength start": {{ data.lambda_min_um * 1e-6 }},
                "wavelength stop": {{ data.lambda_max_um * 1e-6 }},
                "waist radius w0": {{ data.gaussian_waist_radius_um * 1e-6 }},
                "distance from waist": {{ (data.device_vertical_maximum_um - data.src_maximum_vertical_um) * 1e-6 }},
                "angle theta": {{ data.source_angle_theta_deg }},
                "angle phi": {{ data.source_angle_phi_deg }},
                "polarization angle": {{ data.xy_phi_rotations[i] }}
            }
            {%- else -%}
            "obj_type": "tfsf",
            {# Add a TFSF plane wave forward source at normal incidence #}
            "properties": {
                "angle theta": {{ data.source_angle_theta_deg }},
                "angle phi": {{ data.source_angle_phi_deg }},
                "polarization angle": {{ data.xy_phi_rotations[i] }},
                "direction": "Backward",
                "x span": {{ 2 * data.fdtd_region_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y max": {{ data.src_maximum_vertical_um * 1e-6 }},
                "y min": {{ data.src_minimum_vertical_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y span": {{ 2 * data.fdtd_region_size_lateral_um * 1e-6 }},
                "z max": {{ data.src_maximum_vertical_um * 1e-6 }},
                "z min": {{ data.src_minimum_vertical_um * 1e-6 }},
                {%- endif %}
                "wavelength start": {{ data.lambda_min_um * 1e-6 }},
                "wavelength stop": {{ data.lambda_max_um * 1e-6 }}
            }
            {%- endif %}
        },
        {%- endfor -%}
        {#- Adjoint Sources -#}
        {# Place dipole adjoint sources at the focal plane that can ring in both x-axis and y-axis #}
        {%- for src_idx in range(0, data.num_adjoint_sources) -%}
            {%- for xy_idx in range(0, 2) -%}
        {%- set adj_name = ("adj_src_%d" | format(src_idx)) + data.xy_names[xy_idx] %}
        "{{ adj_name }}": {
            "name": "{{ adj_name }}",
            "obj_type": "dipole",
            "properties": {
                "x": {{ data.adjoint_x_positions_um[src_idx] * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y": {{ data.adjoint_vertical_um * 1e-6 }},
                "theta": {{ data.xy_adjtheta_rotations[xy_idx] }},
                "phi": 0,
                {% elif data.simulator_dimension == '3D'-%}
                "y": {{ data.adjoint_y_positions_um[src_idx] * 1e-6 }},
                "z": {{ data.adjoint_vertical_um * 1e-6 }},
                "theta": 90,
                "phi": {{ data.xy_phi_rotations[xy_idx] }},
                {%- endif %}
                "wavelength start": {{ data.lambda_min_um * 1e-6 }},
                "wavelength stop": {{ data.lambda_max_um * 1e-6 }}
            }
        },
            {%- endfor -%}
        {%- endfor %}

        {#- Focal Monitors -#}
        {# Set up adjoint point monitors to get electric field strength at focus spots.  This will allow us to
        # compute the figure of merit as well as weight the adjoint simulations properly in calculation of the
        # gradient. #}
        {%- for adj_src in range(0, data.num_adjoint_sources) -%}
        {%- set name = "focal_monitor_%d" | format(adj_src) %}
        "{{ name }}": {
            "name": "{{ name }}",
            "obj_type": "power",
            "properties": {
                "monitor type": "point",
                "x": {{ data.adjoint_x_positions_um[adj_src] * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y": {{ data.adjoint_vertical_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y": {{ data.adjoint_y_positions_um[adj_src] * 1e-6 }},
                "z": {{ data.adjoint_vertical_um * 1e-6 }},
                {%- endif %}
                "override global monitor settings": 1,
                "use wavelength spacing": 1,
                "use source limits": 1,
                "frequency points": {{ data.num_design_frequency_points }}
            }
        },
        {%- endfor -%}
        {#- Transmission Monitors -#}
        {%- for adj_src in range(0, data.num_adjoint_sources) -%}
        {%- set name = "transmission_monitor_%d" | format(adj_src) %}
        "{{ name }}": {
            "name": "{{ name }}",
            "obj_type": "power",
            "properties": {
                {% if data.simulator_dimension == '2D'-%}
                "monitor type": "Linear X",
                "y": {{ data.adjoint_vertical_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "monitor type": "2D Z-normal",
                "y": {{ data.adjoint_y_positions_um[adj_src] * 1e-6 }},
                "y span": {{ 0.5 * data.device_size_lateral_um * 1e-6 }},
                "z": {{ data.adjoint_vertical_um * 1e-6 }},
                {%- endif %}
                "x": {{ data.adjoint_x_positions_um[adj_src] * 1e-6 }},
                "x span": {{ 0.5 * data.device_size_lateral_um * 1e-6 }},
                "override global monitor settings": 1,
                "use wavelength spacing": 1,
                "use source limits": 1,
                "frequency points": {{ data.num_design_frequency_points }}
            }
        },
        {%- endfor %}
        "transmission_focal_monitor_": {
            "name": "transmission_focal_monitor_",
            "obj_type": "power",
            "properties": {
                {% if data.simulator_dimension == '2D'-%}
                "monitor type": "Linear X",
                "y": {{ data.adjoint_vertical_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "monitor type": "2D Z-normal",
                "y": 0,
                "y span": {{ data.device_size_lateral_um * 1e-6 }},
                "z": {{ data.adjoint_vertical_um * 1e-6 }},
                {%- endif %}
                "x": 0,
                "x span": {{ data.device_size_lateral_um * 1e-6 }},
                "override global monitor settings": 1,
                "use wavelength spacing": 1,
                "use source limits": 1,
                "frequency points": {{ data.num_design_frequency_points }}
            }
        },
        {#- Install Aperture that blocks off source -#}
        {%- if data.use_source_aperture %}
        "PEC_screen": {
            "name": "PEC_screen",
            "obj_type": "rect",
            "properties": {
                "x": 0,
                "x span": {{ 1.1 * 4 / 3 * 1.2 * data.device_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y min": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um) * 1e-6 }},
                "y max": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um + data.pec_aperture_thickness_um) * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y": 0,
                "y span": {{ 1.1 * 4 / 3 * 1.2 * data.device_size_lateral_um * 1e-6 }},
                "z min": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um) * 1e-6 }},
                "z max": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um + data.pec_aperture_thickness_um) * 1e-6 }},
                {%- endif %}
                {%- if data.boundary_conditions == 'periodic' %}
                "enabled": false,
                "x span": {{data.fdtd_region_size_lateral_um * 1e-6}},
                "y span": {{data.fdtd_region_size_lateral_um * 1e-6}},
                {% endif -%}
                "material": "PEC (Perfect Electrical Conductor)"
            }
        },
        "source_aperture": {
            "name": "source_aperture",
            "obj_type": "rect",
            "properties": {
                "x": 0,
                "x span": {{ data.device_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y min": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um) * 1e-6 }},
                "y max": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um + data.pec_aperture_thickness_um) * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y": 0,
                "y span": {{ data.device_size_lateral_um * 1e-6 }},
                "z min": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um) * 1e-6 }},
                "z max": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um + data.pec_aperture_thickness_um) * 1e-6 }},
                {%- endif %}
                {%- if data.boundary_conditions == 'periodic' %}
                "enabled": false,
                {% endif -%}
                "index": {{ data.background_index }}
            }
        },
        {% endif -%}

        {# todo: Set up substrates to use data.substrates_above_device#}
        "substrate": {
            "name": "substrate",
            "obj_type": "rect",
            "properties": {
                "x": 0,
                {%- if data.boundary_conditions == 'periodic' %}
                "x span": {{data.fdtd_region_size_lateral_um * 1e-6}},
                {% if data.simulator_dimension == '3D'-%}
                "y span": {{data.fdtd_region_size_lateral_um * 1e-6}},
                {%- endif %}
                {%- else -%}
                "x span": {{ 1.1 * 4 / 3 * 1.2 * data.device_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '3D'-%}
                "y span": {{ 1.1 * 4 / 3 * 1.2 * data.device_size_lateral_um * 1e-6 }},
                {% endif -%}
                {% endif -%}
                
                {% if data.simulator_dimension == '2D'-%}
                "y min": {{ (data.device_vertical_maximum_um) * 1e-6 }},
                "y max": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um) * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y": 0,
                "z min": {{ (data.device_vertical_maximum_um) * 1e-6 }},
                "z max": {{ (data.device_vertical_maximum_um + data.substrate_thickness_um) * 1e-6 }},
                {%- endif %}
                "material": "SiO2 (Glass) - Palik"
            }
        },

        {#- Set up sidewalls on the side to try and attenuate crosstalk -#}
        {% for idx in range(0, data.num_sidewalls) -%}
        {%- set name = "sidewall_%d" | format(idx) -%}
        {# TODO: set up for 2D #}
        "{{ name }}": {
            "name": "{{ name }}",
            "obj_type": "rect",
            "properties": {
                "x": {{ data.sidewall_x_positions_um[idx] * 1e-6 }},
                "x span": {{ data.sidewall_xspan_positions_um[idx] * 1e-6 }},
                "y": {{ data.sidewall_y_positions_um[idx] * 1e-6 }},
                "y span": {{ data.sidewall_yspan_positions_um[idx] * 1e-6 }},
                {% if data.sidewall_extend_focalplane -%}
                "z min": {{ data.adjoint_vertical_um * 1e-6 }},
                {%- else -%}
                "z min": {{ data.sidewall_vertical_minimum_um * 1e-6 }},
                {%- endif %}
                "z max": {{ data.device_vertical_maximum_um * 1e-6 }},
                "material": "{{ data.sidewall_material }}"
            }
        },
        {% endfor -%}
        {#- Apply finer mesh regions restricted to sidewalls -#}
        {% for idx in range(0, data.num_sidewalls) -%}
        {%- set name = "mesh_sidewall_%d" | format(idx) -%}
        "{{ name }}": {
            "name": "{{ name }}",
            "obj_type": "mesh",
            "properties": {
                "set maximum mesh step": 1,
                "override z mesh": 0,
                "based on a structure": 1,
                "structure": "{{ "sidewall_%d" | format(idx) }}",
                {% if data.sidewall_x_positions_um[idx] < data.sidewall_y_positions_um[idx] -%}
                "override x mesh": 1,
                "override y mesh": 0,
                "dx": {{ data.mesh_spacing_um * 1e-6 }}
                {%- else -%}
                "override x mesh": 0,
                "override y mesh": 1,
                "dy": {{ data.mesh_spacing_um * 1e-6 }}
                {%- endif %}
            }
        },
        {% endfor -%}
        {#- Add device region and create device permittivity -#}
        "design_import": {
            "name": "design_import",
            "obj_type": "import",
            "dev_id": 0,                {# ID keeps track of which device this belongs to. #}
            "properties": {
                "x span": {{ data.device_size_lateral_bordered_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y min": {{ data.device_vertical_minimum_um * 1e-6 }},
                "y max": {{ data.device_vertical_maximum_um * 1e-6 }},
                "z span": {{ 3 * data.mesh_spacing_um * 1e-6 }}
                {% elif data.simulator_dimension == '3D'-%}
                "y span": {{ data.device_size_lateral_bordered_um * 1e-6 }},
                "z min": {{ data.device_vertical_minimum_um * 1e-6 }},
                "z max": {{ data.device_vertical_maximum_um * 1e-6 }}
                {%- endif %}
            }
        },
        "design_mesh": {
            "name": "design_mesh",
            "obj_type": "mesh",
            "dev_id": 0,
            "properties": {
                "x": 0,
                "x span": {{ data.fdtd_region_size_lateral_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "y min": {{ (data.device_vertical_minimum_um - 0.5) * 1e-6 }},
                "y max": {{ (data.device_vertical_maximum_um + 0.5) * 1e-6 }},
                "z span": {{ 3 * data.mesh_spacing_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "y": 0,
                "y span": {{ data.fdtd_region_size_lateral_um * 1e-6 }},
                "z min": {{ (data.device_vertical_minimum_um - 0.5) * 1e-6 }},
                "z max": {{ (data.device_vertical_maximum_um + 0.5) * 1e-6 }},
                {%- endif %}
                "dx": {{ data.mesh_spacing_um * 1e-6 }},
                "dy": {{ data.mesh_spacing_um * 1e-6 }},
                "dz": {{ data.mesh_spacing_um * 1e-6 }}
            }
        },
        "design_index_monitor": {
            "name": "design_index_monitor",
            "obj_type": "index",
            "dev_id": 0,
            "properties": {
                "x span": {{ data.device_size_lateral_bordered_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "monitor type": "2D Z-Normal",
                "y min": {{ data.device_vertical_minimum_um * 1e-6 }},
                "y max": {{ data.device_vertical_maximum_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "monitor type": "3D",
                "y span": {{ data.device_size_lateral_bordered_um * 1e-6 }},
                "z min": {{ data.device_vertical_minimum_um * 1e-6 }},
                "z max": {{ data.device_vertical_maximum_um * 1e-6 }},
                {%- endif %}
                "spatial interpolation": "nearest mesh cell"
            }
        },
        "design_efield_monitor": {
            "name": "design_efield_monitor",
            "obj_type": "profile",
            "dev_id": 0,
            "properties": {
                "x span": {{ data.device_size_lateral_bordered_um * 1e-6 }},
                {% if data.simulator_dimension == '2D'-%}
                "monitor type": "2D Z-Normal",
                "y min": {{ data.device_vertical_minimum_um * 1e-6 }},
                "y max": {{ data.device_vertical_maximum_um * 1e-6 }},
                "z span": {{ 3 * data.mesh_spacing_um * 1e-6 }},
                {% elif data.simulator_dimension == '3D'-%}
                "monitor type": "3D",
                "y span": {{ data.device_size_lateral_bordered_um * 1e-6 }},
                "z min": {{ data.device_vertical_minimum_um * 1e-6 }},
                "z max": {{ data.device_vertical_maximum_um * 1e-6 }},
                {%- endif %}
                "override global monitor settings": 1,
                "use wavelength spacing": 1,
                "use source limits": 1,
                "frequency points": {{ data.num_design_frequency_points }},
                "output Hx": 0,
                "output Hy": 0,
                "output Hz": 0
            }
        }
    }
}